{% extends "base.html" %}
{% block head %}
<title>不動産情報取得</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1 class="text-center display-4">REINSサイトからの不動産情報取得</h1>
	</div>
	<div class="row justify-content-center align-items-center" style="padding-bottom: 5rem;">
		<div class="col-sm-6 ">
			<!-- <form id="contactForm" action="/mapData" method="POST" autocomplete="off"  onsubmit="return submitForm();">{% csrf_token %} -->
			<form action="/mapData" method="POST" autocomplete="off">
				{% csrf_token %}
				{{ contactForm.as_p }}
				<input type="hidden" name="next" value="{{ request.path }}">
				<input type="button" name="contact-submit" style="display:none;" id="submitBtn" value="送信"
					class="btn btn-primary submitBtn" autocomplete="off" />
			</form>
			<button class="fillBtn" onclick="handleFillBtnClick()"> 最後に入力した内容を再表示</button>
		</div>
	</div>
	<div id="loading-icon" style="display: none;" class="loading">
		<!-- Include your loading icon here -->
		Loading...
	</div>
</div>
<style>
	/* Absolute Center Spinner */
	.loading {
		position: fixed;
		z-index: 999;
		height: 2em;
		width: 2em;
		overflow: visible;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	/* Transparent Overlay */
	.loading:before {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	/* :not(:required) hides these rules from IE9 and below */
	.loading:not(:required) {
		/* hide "loading..." text */
		font: 0/0 a;
		color: transparent;
		text-shadow: none;
		background-color: transparent;
		border: 0;
	}

	.loading:not(:required):after {
		content: '';
		display: block;
		font-size: 10px;
		width: 1em;
		height: 1em;
		margin-top: -0.5em;
		-webkit-animation: spinner 1500ms infinite linear;
		-moz-animation: spinner 1500ms infinite linear;
		-ms-animation: spinner 1500ms infinite linear;
		-o-animation: spinner 1500ms infinite linear;
		animation: spinner 1500ms infinite linear;
		border-radius: 0.5em;
		-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
		box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
	}

	/* Animation */

	@-webkit-keyframes spinner {
		0% {
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-moz-keyframes spinner {
		0% {
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-o-keyframes spinner {
		0% {
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@keyframes spinner {
		0% {
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	#id_etc_multi li {
		list-style: none;
		/* Remove default list item marker */
		margin-bottom: 10px;
		/* Adjust margin between items */
	}

	#id_etc_multi label {
		display: flex;
		align-items: center;
		/* Vertically center the checkbox and label */
		flex-direction: row;
		cursor: pointer;
		/* Set cursor to pointer for better UX */
	}

	#id_etc_multi input {
		width: 10%;
		margin-left: 5px;
		/* Adjust margin between checkbox and label */
	}

	.fillBtn {
		background-color: #4CAF50;
		/* Green */
		border: none;
		color: white;
		padding: 0.5rem 1rem;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 10px;
		float: right;
	}

	.submitBtn {
		background-color: blue;
		/* Green */
		border: none;
		color: white;
		padding: 0.5rem 1rem;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 10px;
		float: left;
	}
</style>
{% endblock %}
{% block script %}
<!-- <script src="sample.js"></script> -->
<script>

	// Show loading icon when a link is clicked
	function showLoadingIcon() {
		console.log("loading icon");
		document.getElementById('loading-icon').style.display = 'block';
	}
	function SaveFormData() {
		console.log("save form data");
		var userIdInput = document.getElementsByName("userId")[0];
		var passwordInput = document.getElementsByName("password")[0];
		var propertyType1Input = document.getElementsByName("propertyType1")[0];
		// var propertyType2Input = document.getElementsByName("propertyType2")[0];
		var trackNameInput = document.getElementsByName("trackName")[0];
		var stationFromInput = document.getElementsByName("stationFrom")[0];
		var stationToInput = document.getElementsByName("stationTo")[0];
		var distanceInput = document.getElementsByName("distance")[0];
		var priceMinInput = document.getElementsByName("priceMin")[0];
		var priceMaxInput = document.getElementsByName("priceMax")[0];
		var areaMinInput = document.getElementsByName("areaMin")[0];
		var levelInput = document.getElementsByName("level")[0];
		var built_yearInput = document.getElementsByName("built_year")[0];
		var roomMinInput = document.getElementsByName("roomMin")[0];
		var ulElement = document.getElementById('id_etc_multi');
		var checkboxes = ulElement.querySelectorAll('input[type="checkbox"]');
		var etc_multi = [];
		checkboxes.forEach(function (checkbox) {
			if (checkbox.checked) {
				etc_multi.push(checkbox.value);
			}
		});

		localStorage.setItem("userId", userIdInput.value);
		localStorage.setItem("password", passwordInput.value);
		localStorage.setItem("propertyType1", propertyType1Input.value);
		// localStorage.setItem("propertyType2", propertyType2Input.value);
		localStorage.setItem("trackName", trackNameInput.value);
		localStorage.setItem("stationFrom", stationFromInput.value);
		localStorage.setItem("stationTo", stationToInput.value);
		localStorage.setItem("distance", distanceInput.value);
		localStorage.setItem("priceMin", priceMinInput.value);
		localStorage.setItem("priceMax", priceMaxInput.value);
		localStorage.setItem("areaMin", areaMinInput.value);
		localStorage.setItem("level", levelInput.value);
		localStorage.setItem("built_year", built_yearInput.value);
		localStorage.setItem("roomMin", roomMinInput.value);
		localStorage.setItem("etc_multi", etc_multi);
	}

	function initForm() {
		console.log("init form");
		userId = localStorage.getItem("userId");
		password = localStorage.getItem("password");
		propertyType1 = localStorage.getItem("propertyType1");
		// propertyType2 = localStorage.getItem("propertyType2");
		trackName = localStorage.getItem("trackName");
		stationFrom = localStorage.getItem("stationFrom");
		stationTo = localStorage.getItem("stationTo");
		distance = localStorage.getItem("distance");
		priceMin = localStorage.getItem("priceMin");
		priceMax = localStorage.getItem("priceMax");
		areaMin = localStorage.getItem("areaMin");
		level = localStorage.getItem("level");
		built_year = localStorage.getItem("built_year");
		roomMin = localStorage.getItem("roomMin");
		etc_multi = localStorage.getItem("etc_multi");

		var userIdInput = document.getElementsByName("userId")[0];
		var passwordInput = document.getElementsByName("password")[0];
		var propertyType1Input = document.getElementsByName("propertyType1")[0];
		// var propertyType2Input = document.getElementsByName("propertyType2")[0];
		var trackNameInput = document.getElementsByName("trackName")[0];
		var stationFromInput = document.getElementsByName("stationFrom")[0];
		var stationToInput = document.getElementsByName("stationTo")[0];
		var distanceInput = document.getElementsByName("distance")[0];
		var priceMinInput = document.getElementsByName("priceMin")[0];
		var priceMaxInput = document.getElementsByName("priceMax")[0];
		var areaMinInput = document.getElementsByName("areaMin")[0];
		var levelInput = document.getElementsByName("level")[0];
		var built_yearInput = document.getElementsByName("built_year")[0];
		var roomMinInput = document.getElementsByName("roomMin")[0];
		var etc_multiInput_1 = document.getElementsByName("etc_multi")[1];
		var etc_multiInput_2 = document.getElementsByName("etc_multi")[2];
		var etc_multiInput_3 = document.getElementsByName("etc_multi")[3];

		userIdInput.value = userId;
		passwordInput.value = password;
		propertyType1Input.value = propertyType1;
		// propertyType2Input.value = propertyType2;
		trackNameInput.value = trackName;
		stationFromInput.value = stationFrom;
		stationToInput.value = stationTo;
		distanceInput.value = distance;
		priceMinInput.value = priceMin;
		priceMaxInput.value = priceMax;
		areaMinInput.value = areaMin;
		levelInput.value = level;
		built_yearInput.value = built_year;
		roomMinInput.value = roomMin;

		if (etc_multi !== null && etc_multi !== undefined) {
			var etc_multi_arr = etc_multi.split(',');
			console.log(etc_multi_arr);
		}
		if (etc_multi_arr?.length > 0) {
			if (etc_multi_arr.includes('1')) {
				etc_multiInput_1.checked = true;
			}
			if (etc_multi_arr.includes('2')) {
				etc_multiInput_2.checked = true;
			}
			if (etc_multi_arr.includes('3')) {
				etc_multiInput_3.checked = true;
			}
		}
	}

	function clearForm() {
		console.log("clear form");

		var userIdInput = document.getElementsByName("userId")[0];
		var passwordInput = document.getElementsByName("password")[0];
		var propertyType1Input = document.getElementsByName("propertyType1")[0];
		// var propertyType2Input = document.getElementsByName("propertyType2")[0];
		var trackNameInput = document.getElementsByName("trackName")[0];
		var stationFromInput = document.getElementsByName("stationFrom")[0];
		var stationToInput = document.getElementsByName("stationTo")[0];
		var distanceInput = document.getElementsByName("distance")[0];
		var priceMinInput = document.getElementsByName("priceMin")[0];
		var priceMaxInput = document.getElementsByName("priceMax")[0];
		var areaMinInput = document.getElementsByName("areaMin")[0];
		var levelInput = document.getElementsByName("level")[0];
		var built_yearInput = document.getElementsByName("built_year")[0];
		var roomMinInput = document.getElementsByName("roomMin")[0];
		var etc_multiInput_1 = document.getElementsByName("etc_multi")[1];
		var etc_multiInput_2 = document.getElementsByName("etc_multi")[2];
		var etc_multiInput_3 = document.getElementsByName("etc_multi")[3];

		userIdInput.value = "";
		passwordInput.value = "";
		propertyType1Input.value = 2;
		// propertyType2Input.value = propertyType2;
		trackNameInput.value = "";
		stationFromInput.value = "";
		stationToInput.value = "";
		distanceInput.value = "";
		priceMinInput.value = "";
		priceMaxInput.value = "";
		areaMinInput.value = "";
		levelInput.value = "";
		built_yearInput.value = "";
		roomMinInput.value = "";
		etc_multiInput_1.checked = false;
		etc_multiInput_2.checked = false;
		etc_multiInput_3.checked = false;
	}

	function handleFillBtnClick() {
		console.log("fill btn clicked");
		initForm();

	}
	// Hide loading icon when the page has finished loading
	window.onload = function () {
		console.log("window onload");
		document.getElementById('loading-icon').style.display = 'none';
		clearForm();
	};

	$(document).ready(function () {

		$("#submitBtn").hide();
		$(".fillBtn").hide();
		$("#id_etc_multi_0").hide();
		var res = "{{data}}";
		if (res == "500OverError") {
			alert("検索結果が500件を超えています。検索条件入力画面に戻ります。")
			window.location.href = '/'
		} else if (res == "loginError") {
			alert("ログイン情報が正しくありません。");
			window.location.href = '/'
		} else if (res == "noElement") {
			alert("検索結果がありません。");
			window.location.href = '/';
		}
		else if (res == "noData") {
			alert("検索結果がありません。0");
			window.location.href = '/';
		}
		else if (res == "Error") {
			alert("ただいまREINSサービス提供を停止しております。");
			window.location.href = '/'
		} else {
			$("#submitBtn").show();
			$(".fillBtn").show();
		}

		// 
		var inputElement = document.getElementById("id_priceMax");
		inputElement.addEventListener("input", function (event) {
			var value = event.target.value;
			// Check if the value contains more than one decimal point
			if ((value.match(/\./g) || []).length > 1) {
				// If more than one decimal point is found, remove the last character from the input
				event.target.value = value.slice(0, -1);
			}
		});


		$("[name = 'contact-submit']").click(function (e) {

			e.preventDefault();
			SaveFormData();
			showLoadingIcon();
			console.log("submit clicked");
			history.back();
			// document.getElementById('contactForm').submit();
			sessionStorage.clear();
			$("form").submit();
			// return false;
		});

	})
</script>
{% endblock %}